<a href="https://colab.research.google.com/github/dgonzalezDS/notebooks-collab/blob/main/Project_TrenMax_en_clase_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MASTER DATA SCIENCE: NUCLIO
## PROFESOR: JOSEPH GALLART
## PROJECT TRENMAX 1/2

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#importamos librería
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder,MinMaxScaler

import folium
import plotly.express as px

In [ ]:
#LEEMOS EL FICHERO DE RENFE

In [3]:
df_renfe = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Project TrenMax/Project TrenMax/dataset/renfe.csv")

In [ ]:
df_renfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383568 entries, 0 to 383567
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   FECHA_CONSULTA  383568 non-null  object
 1   FECHA_INICIO    383568 non-null  object
 2   FECHA_FIN       383568 non-null  object
 3   CIUDAD_ORIGEN   383568 non-null  object
 4   CIUDAD_DESTINO  383568 non-null  object
 5   TIPO_TREN       345211 non-null  object
 6   TIPO_TARIFA     344009 non-null  object
 7   CLASE           344000 non-null  object
 8   PRECIO          355038 non-null  float64
dtypes: float64(1), object(8)
memory usage: 26.3+ MB

In [ ]:
df_renfe.head()

,FECHA_CONSULTA,FECHA_INICIO,FECHA_FIN,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO
0,2019-05-25 01:43:03,2019-06-28 20:36:00,2019-06-28 23:14:00,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20
1,2019-06-22 13:05:11,2019-07-14 10:00:00,2019-07-14 13:10:00,BARCELONA,MADRID,AVE,Flexible,Turista,107.70
2,2019-04-17 06:24:03,2019-05-23 13:40:00,2019-05-23 16:10:00,SEVILLA,MADRID,AVE,Promo,Turista,47.30
3,2019-05-10 21:21:59,2019-05-29 14:50:00,2019-05-29 22:30:00,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35
4,2019-05-09 19:43:37,2019-06-26 13:25:00,2019-06-26 16:24:00,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75

In [ ]:
#PREGUNTA 1

In [4]:
df_renfe.isnull().any()

FECHA_CONSULTA    False
FECHA_INICIO      False
FECHA_FIN         False
CIUDAD_ORIGEN     False
CIUDAD_DESTINO    False
TIPO_TREN          True
TIPO_TARIFA        True
CLASE              True
PRECIO             True
dtype: bool

In [5]:
df_renfe.isnull().sum()

FECHA_CONSULTA        0
FECHA_INICIO          0
FECHA_FIN             0
CIUDAD_ORIGEN         0
CIUDAD_DESTINO        0
TIPO_TREN         38357
TIPO_TARIFA       39559
CLASE             39568
PRECIO            28530
dtype: int64

In [ ]:
#PREGUNTA 2

In [6]:
fechas = ['FECHA_CONSULTA','FECHA_INICIO','FECHA_FIN']

In [7]:
for i in fechas:
  df_renfe[i] = pd.to_datetime(df_renfe[i])

In [ ]:
df_renfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383568 entries, 0 to 383567
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   FECHA_CONSULTA  383568 non-null  datetime64[ns]
 1   FECHA_INICIO    383568 non-null  datetime64[ns]
 2   FECHA_FIN       383568 non-null  datetime64[ns]
 3   CIUDAD_ORIGEN   383568 non-null  object
 4   CIUDAD_DESTINO  383568 non-null  object
 5   TIPO_TREN       345211 non-null  object
 6   TIPO_TARIFA     344009 non-null  object
 7   CLASE           344000 non-null  object
 8   PRECIO          355038 non-null  float64
dtypes: datetime64[ns](3), float64(1), object(5)
memory usage: 26.3+ MB

In [ ]:
df_renfe.info()

<class 'pandas.core.series.Series'>
RangeIndex: 383568 entries, 0 to 383567
Series name: FECHA_CONSULTA
Non-Null Count   Dtype
--------------   -----
383568 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 2.9 MB

In [ ]:
#PREGUNTA 3

In [8]:
df_renfe[df_renfe.duplicated(keep=False)].value_counts()

FECHA_CONSULTA       FECHA_INICIO         FECHA_FIN            CIUDAD_ORIGEN  CIUDAD_DESTINO  TIPO_TREN  TIPO_TARIFA  CLASE                PRECIO
2019-04-21 08:08:16  2019-04-28 17:30:00  2019-04-28 19:43:00  VALENCIA       MADRID          INTERCITY  Flexible     Turista              55.40     2
2019-04-27 17:08:49  2019-05-26 17:30:00  2019-05-26 19:43:00  VALENCIA       MADRID          INTERCITY  Promo        Turista              43.75     2
2019-04-30 09:09:51  2019-05-19 17:30:00  2019-05-19 19:43:00  VALENCIA       MADRID          INTERCITY  Flexible     Turista              55.40     2
2019-05-03 05:33:32  2019-05-24 15:10:00  2019-05-24 17:20:00  MADRID         VALENCIA        INTERCITY  Promo        Turista              43.75     2
2019-05-03 15:18:26  2019-05-24 15:10:00  2019-05-24 17:20:00  MADRID         VALENCIA        INTERCITY  Promo        Turista              43.75     2
2019-06-10 01:10:54  2019-07-07 21:03:00  2019-07-07 23:28:00  VALENCIA       MADRID          INTERCITY  Promo        Turista              43.75     2
2019-06-12 11:51:44  2019-06-16 17:30:00  2019-06-16 19:43:00  VALENCIA       MADRID          INTERCITY  Flexible     TuristaSólo plaza H  55.40     2
2019-06-17 21:00:29  2019-06-23 21:03:00  2019-06-23 23:28:00  VALENCIA       MADRID          INTERCITY  Flexible     TuristaSólo plaza H  55.40     2
2019-06-19 23:28:29  2019-06-23 21:03:00  2019-06-23 23:28:00  VALENCIA       MADRID          INTERCITY  Flexible     TuristaSólo plaza H  55.40     2
2019-08-18 17:34:03  2019-08-23 21:03:00  2019-08-23 23:28:00  VALENCIA       MADRID          INTERCITY  Flexible     Turista              55.40     2
dtype: int64

In [9]:
df_renfe[df_renfe.duplicated(keep=False)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 8530 to 383408
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FECHA_CONSULTA  48 non-null     datetime64[ns]
 1   FECHA_INICIO    48 non-null     datetime64[ns]
 2   FECHA_FIN       48 non-null     datetime64[ns]
 3   CIUDAD_ORIGEN   48 non-null     object
 4   CIUDAD_DESTINO  48 non-null     object
 5   TIPO_TREN       48 non-null     object
 6   TIPO_TARIFA     38 non-null     object
 7   CLASE           38 non-null     object
 8   PRECIO          20 non-null     float64
dtypes: datetime64[ns](3), float64(1), object(5)
memory usage: 3.8+ KB

In [10]:
df_renfe[df_renfe.duplicated(keep=False)].value_counts('FECHA_CONSULTA').sum()

48

In [ ]:
#Solucion buena

In [11]:
df_renfe[df_renfe.duplicated()]

,FECHA_CONSULTA,FECHA_INICIO,FECHA_FIN,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO
67494,2019-04-29 23:15:13,2019-05-14 06:20:00,2019-05-14 14:25:00,MADRID,BARCELONA,LD-AVE,Promo,Turista,NaN
82429,2019-04-30 09:09:51,2019-05-19 17:30:00,2019-05-19 19:43:00,VALENCIA,MADRID,INTERCITY,Flexible,Turista,55.40
88401,2019-05-15 23:37:01,2019-06-21 21:05:00,2019-06-21 23:32:00,VALENCIA,MADRID,INTERCITY,NaN,NaN,NaN
107458,2019-06-12 11:51:44,2019-06-16 17:30:00,2019-06-16 19:43:00,VALENCIA,MADRID,INTERCITY,Flexible,TuristaSólo plaza H,55.40
143395,2019-08-17 03:22:19,2019-09-01 21:03:00,2019-09-01 23:28:00,VALENCIA,MADRID,INTERCITY,Flexible,Turista,NaN
159167,2019-05-16 13:12:07,2019-06-29 21:05:00,2019-06-29 23:32:00,VALENCIA,MADRID,INTERCITY,NaN,NaN,NaN
170659,2019-05-15 21:26:30,2019-06-23 21:05:00,2019-06-23 23:32:00,VALENCIA,MADRID,INTERCITY,NaN,NaN,NaN
191339,2019-08-18 17:34:03,2019-08-23 21:03:00,2019-08-23 23:28:00,VALENCIA,MADRID,INTERCITY,Flexible,Turista,55.40
235466,2019-06-18 23:16:29,2019-07-23 07:00:00,2019-07-23 14:25:00,MADRID,BARCELONA,LD-AVE,Promo,Turista Plus,NaN
241656,2019-05-14 03:01:42,2019-07-07 21:05:00,2019-07-07 23:32:00,VALENCIA,MADRID,INTERCITY,Promo,Turista,NaN
242549,2019-08-14 23:43:07,2019-09-01 11:28:00,2019-09-01 16:00:00,PONFERRADA,MADRID,LD,Flexible,Turista con enlace,NaN
245026,2019-05-13 03:23:34,2019-07-01 21:05:00,2019-07-01 23:32:00,VALENCIA,MADRID,INTERCITY,NaN,NaN,NaN
256887,2019-06-10 01:10:54,2019-07-07 21:03:00,2019-07-07 23:28:00,VALENCIA,MADRID,INTERCITY,Promo,Turista,43.75
263942,2019-04-21 08:08:16,2019-04-28 17:30:00,2019-04-28 19:43:00,VALENCIA,MADRID,INTERCITY,Flexible,Turista,55.40
274827,2019-06-17 21:00:29,2019-06-23 21:03:00,2019-06-23 23:28:00,VALENCIA,MADRID,INTERCITY,Flexible,TuristaSólo plaza H,55.40
279458,2019-04-27 17:08:49,2019-05-26 17:30:00,2019-05-26 19:43:00,VALENCIA,MADRID,INTERCITY,Promo,Turista,43.75
307296,2019-06-19 23:28:29,2019-06-23 21:03:00,2019-06-23 23:28:00,VALENCIA,MADRID,INTERCITY,Flexible,TuristaSólo plaza H,55.40
316991,2019-04-30 01:05:31,2019-05-11 07:00:00,2019-05-11 14:25:00,MADRID,BARCELONA,LD-AVE,Promo,Turista,NaN
328693,2019-04-19 09:10:48,2019-04-21 17:30:00,2019-04-21 19:43:00,VALENCIA,MADRID,INTERCITY,Flexible,Turista,NaN
346701,2019-04-29 23:03:20,2019-05-03 15:50:00,2019-05-03 23:52:00,BARCELONA,MADRID,AVE-LD,Flexible,Turista,NaN
352451,2019-05-03 05:33:32,2019-05-24 15:10:00,2019-05-24 17:20:00,MADRID,VALENCIA,INTERCITY,Promo,Turista,43.75
356200,2019-05-03 15:18:26,2019-05-24 15:10:00,2019-05-24 17:20:00,MADRID,VALENCIA,INTERCITY,Promo,Turista,43.75
376617,2019-05-17 15:22:08,2019-07-11 21:03:00,2019-07-11 23:28:00,VALENCIA,MADRID,INTERCITY,NaN,NaN,NaN
383408,2019-04-27 17:26:36,2019-04-30 15:10:00,2019-04-30 17:20:00,MADRID,VALENCIA,INTERCITY,Flexible,Turista,NaN

In [12]:
len(df_renfe[df_renfe.duplicated()])

24

In [13]:
df_renfe[df_renfe.duplicated()].shape[0]

24

In [14]:
df_renfe.drop_duplicates(inplace=True)

In [15]:
df_renfe[df_renfe.duplicated()]

Empty DataFrame
Columns: [FECHA_CONSULTA, FECHA_INICIO, FECHA_FIN, CIUDAD_ORIGEN, CIUDAD_DESTINO, TIPO_TREN, TIPO_TARIFA, CLASE, PRECIO]
Index: []

In [16]:
len(df_renfe[df_renfe.duplicated()])

0

In [ ]:
#PREGUNTA 4

In [17]:
df_renfe3=df_renfe.copy()

In [18]:
df_renfe3['TIEMPO_VIAJE']=(df_renfe['FECHA_FIN']-df_renfe3['FECHA_INICIO'])/np.timedelta64(1,'m') #Mover la columna al sitio que quiera??

In [19]:
df_renfe3

,FECHA_CONSULTA,FECHA_INICIO,FECHA_FIN,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,TIEMPO_VIAJE
0,2019-05-25 01:43:03,2019-06-28 20:36:00,2019-06-28 23:14:00,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20,158.0
1,2019-06-22 13:05:11,2019-07-14 10:00:00,2019-07-14 13:10:00,BARCELONA,MADRID,AVE,Flexible,Turista,107.70,190.0
2,2019-04-17 06:24:03,2019-05-23 13:40:00,2019-05-23 16:10:00,SEVILLA,MADRID,AVE,Promo,Turista,47.30,150.0
3,2019-05-10 21:21:59,2019-05-29 14:50:00,2019-05-29 22:30:00,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35,460.0
4,2019-05-09 19:43:37,2019-06-26 13:25:00,2019-06-26 16:24:00,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75,179.0
...,...,...,...,...,...,...,...,...,...,...
383563,2019-05-06 05:11:53,2019-05-10 19:40:00,2019-05-10 21:29:00,MADRID,VALENCIA,AVE,Flexible,NaN,73.10,109.0
383564,2019-06-19 21:48:56,2019-08-05 20:00:00,2019-08-05 23:10:00,BARCELONA,MADRID,AVE,Promo,Preferente,54.45,190.0
383565,2019-04-24 23:21:44,2019-04-29 16:15:00,2019-04-29 17:55:00,VALENCIA,MADRID,AVE,Promo,Turista,27.80,100.0
383566,2019-05-27 21:05:19,2019-07-07 15:00:00,2019-07-07 17:21:00,MADRID,SEVILLA,AVE,Promo,NaN,47.30,141.0
383567,2019-05-27 15:04:14,2019-06-16 18:35:00,2019-06-16 20:21:00,VALENCIA,MADRID,AVE,Flexible,Turista,73.10,106.0

In [20]:
df_renfe3['DIF_INI_BUS']=(df_renfe['FECHA_INICIO']-df_renfe3['FECHA_CONSULTA'])/np.timedelta64(1,'m')

In [21]:
df_renfe3

,FECHA_CONSULTA,FECHA_INICIO,FECHA_FIN,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,TIEMPO_VIAJE,DIF_INI_BUS
0,2019-05-25 01:43:03,2019-06-28 20:36:00,2019-06-28 23:14:00,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20,158.0,50092.950000
1,2019-06-22 13:05:11,2019-07-14 10:00:00,2019-07-14 13:10:00,BARCELONA,MADRID,AVE,Flexible,Turista,107.70,190.0,31494.816667
2,2019-04-17 06:24:03,2019-05-23 13:40:00,2019-05-23 16:10:00,SEVILLA,MADRID,AVE,Promo,Turista,47.30,150.0,52275.950000
3,2019-05-10 21:21:59,2019-05-29 14:50:00,2019-05-29 22:30:00,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35,460.0,26968.016667
4,2019-05-09 19:43:37,2019-06-26 13:25:00,2019-06-26 16:24:00,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75,179.0,68741.383333
...,...,...,...,...,...,...,...,...,...,...,...
383563,2019-05-06 05:11:53,2019-05-10 19:40:00,2019-05-10 21:29:00,MADRID,VALENCIA,AVE,Flexible,NaN,73.10,109.0,6628.116667
383564,2019-06-19 21:48:56,2019-08-05 20:00:00,2019-08-05 23:10:00,BARCELONA,MADRID,AVE,Promo,Preferente,54.45,190.0,67571.066667
383565,2019-04-24 23:21:44,2019-04-29 16:15:00,2019-04-29 17:55:00,VALENCIA,MADRID,AVE,Promo,Turista,27.80,100.0,6773.266667
383566,2019-05-27 21:05:19,2019-07-07 15:00:00,2019-07-07 17:21:00,MADRID,SEVILLA,AVE,Promo,NaN,47.30,141.0,58674.683333
383567,2019-05-27 15:04:14,2019-06-16 18:35:00,2019-06-16 20:21:00,VALENCIA,MADRID,AVE,Flexible,Turista,73.10,106.0,29010.766667

In [ ]:
#PREGUNTA 5

In [22]:
for col in ['FECHA_CONSULTA', 'FECHA_INICIO', 'FECHA_FIN']:
    df_renfe3[col + '_HORA'] = df_renfe3[col].dt.hour
    df_renfe3[col + '_NOMBREDIA'] = df_renfe3[col].dt.day_name()
    ##O .dt.weekday_name
    df_renfe3[col + '_DIA'] = df_renfe3[col].dt.day
    df_renfe3[col + '_MES'] = df_renfe3[col].dt.month

    del df_renfe3[col]

df_renfe3.head()

,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,TIEMPO_VIAJE,DIF_INI_BUS,FECHA_CONSULTA_HORA,FECHA_CONSULTA_NOMBREDIA,FECHA_CONSULTA_DIA,FECHA_CONSULTA_MES,FECHA_INICIO_HORA,FECHA_INICIO_NOMBREDIA,FECHA_INICIO_DIA,FECHA_INICIO_MES,FECHA_FIN_HORA,FECHA_FIN_NOMBREDIA,FECHA_FIN_DIA,FECHA_FIN_MES
0,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20,158.0,50092.950000,1,Saturday,25,5,20,Friday,28,6,23,Friday,28,6
1,BARCELONA,MADRID,AVE,Flexible,Turista,107.70,190.0,31494.816667,13,Saturday,22,6,10,Sunday,14,7,13,Sunday,14,7
2,SEVILLA,MADRID,AVE,Promo,Turista,47.30,150.0,52275.950000,6,Wednesday,17,4,13,Thursday,23,5,16,Thursday,23,5
3,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35,460.0,26968.016667,21,Friday,10,5,14,Wednesday,29,5,22,Wednesday,29,5
4,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75,179.0,68741.383333,19,Thursday,9,5,13,Wednesday,26,6,16,Wednesday,26,6

In [ ]:
#PREGUNTA 6

In [23]:
(df_renfe3['PRECIO'].isnull().sum())/(len(df_renfe3['PRECIO']))*100

7.434870575475043

In [24]:
len(df_renfe3['PRECIO'])

383544

In [ ]:
#PREGUNTA 7

In [25]:
df_renfe3.isnull().sum()

CIUDAD_ORIGEN                   0
CIUDAD_DESTINO                  0
TIPO_TREN                   38357
TIPO_TARIFA                 39554
CLASE                       39563
PRECIO                      28516
TIEMPO_VIAJE                    0
DIF_INI_BUS                     0
FECHA_CONSULTA_HORA             0
FECHA_CONSULTA_NOMBREDIA        0
FECHA_CONSULTA_DIA              0
FECHA_CONSULTA_MES              0
FECHA_INICIO_HORA               0
FECHA_INICIO_NOMBREDIA          0
FECHA_INICIO_DIA                0
FECHA_INICIO_MES                0
FECHA_FIN_HORA                  0
FECHA_FIN_NOMBREDIA             0
FECHA_FIN_DIA                   0
FECHA_FIN_MES                   0
dtype: int64

In [26]:
df_renfe3.drop(df_renfe3[(df_renfe3["TIPO_TREN"].isnull()) & (df_renfe3["TIPO_TARIFA"].isnull()) & (df_renfe3["CLASE"].isnull()) & (df_renfe3["PRECIO"].isnull())].index, inplace = True)

In [27]:
df_renfe3[(df_renfe3["TIPO_TREN"].isnull()) & (df_renfe3["TIPO_TARIFA"].isnull()) & (df_renfe3["CLASE"].isnull()) & (df_renfe3["PRECIO"].isnull())]

Empty DataFrame
Columns: [CIUDAD_ORIGEN, CIUDAD_DESTINO, TIPO_TREN, TIPO_TARIFA, CLASE, PRECIO, TIEMPO_VIAJE, DIF_INI_BUS, FECHA_CONSULTA_HORA, FECHA_CONSULTA_NOMBREDIA, FECHA_CONSULTA_DIA, FECHA_CONSULTA_MES, FECHA_INICIO_HORA, FECHA_INICIO_NOMBREDIA, FECHA_INICIO_DIA, FECHA_INICIO_MES, FECHA_FIN_HORA, FECHA_FIN_NOMBREDIA, FECHA_FIN_DIA, FECHA_FIN_MES]
Index: []

In [28]:
df_renfe3[(df_renfe3["TIPO_TREN"].isnull()) & (df_renfe3["TIPO_TARIFA"].isnull()) & (df_renfe3["CLASE"].isnull())]

,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,TIEMPO_VIAJE,DIF_INI_BUS,FECHA_CONSULTA_HORA,FECHA_CONSULTA_NOMBREDIA,FECHA_CONSULTA_DIA,FECHA_CONSULTA_MES,FECHA_INICIO_HORA,FECHA_INICIO_NOMBREDIA,FECHA_INICIO_DIA,FECHA_INICIO_MES,FECHA_FIN_HORA,FECHA_FIN_NOMBREDIA,FECHA_FIN_DIA,FECHA_FIN_MES
3278,MADRID,BARCELONA,NaN,NaN,NaN,68.95,190.0,65510.400000,7,Friday,7,6,19,Monday,22,7,22,Monday,22,7
4228,SEVILLA,MADRID,NaN,NaN,NaN,53.40,160.0,45733.500000,13,Saturday,17,8,7,Wednesday,18,9,9,Wednesday,18,9
4663,BARCELONA,MADRID,NaN,NaN,NaN,85.10,190.0,52611.333333,21,Saturday,25,5,10,Monday,1,7,13,Monday,1,7
5291,MADRID,SEVILLA,NaN,NaN,NaN,53.40,150.0,67137.716667,1,Tuesday,18,6,16,Saturday,3,8,18,Saturday,3,8
5294,MADRID,VALENCIA,NaN,NaN,NaN,17.15,250.0,47174.166667,23,Thursday,25,4,17,Tuesday,28,5,21,Tuesday,28,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377543,MADRID,SEVILLA,NaN,NaN,NaN,53.40,160.0,16526.216667,9,Sunday,18,8,20,Thursday,29,8,23,Thursday,29,8
378017,VALENCIA,MADRID,NaN,NaN,NaN,21.95,100.0,70193.000000,1,Saturday,1,6,19,Friday,19,7,20,Friday,19,7
381265,MADRID,SEVILLA,NaN,NaN,NaN,60.30,152.0,26410.883333,5,Sunday,21,4,14,Thursday,9,5,16,Thursday,9,5
382878,BARCELONA,MADRID,NaN,NaN,NaN,43.25,544.0,939.383333,17,Friday,21,6,9,Saturday,22,6,18,Saturday,22,6
383117,VALENCIA,MADRID,NaN,NaN,NaN,29.90,147.0,32131.583333,13,Tuesday,30,4,21,Wednesday,22,5,23,Wednesday,22,5

In [29]:
df_renfe3.drop(df_renfe3[(df_renfe3["TIPO_TREN"].isnull()) & (df_renfe3["TIPO_TARIFA"].isnull()) & (df_renfe3["CLASE"].isnull())].index, inplace = True)

In [30]:
df_renfe3[(df_renfe3["TIPO_TREN"].isnull()) & (df_renfe3["TIPO_TARIFA"].isnull()) & (df_renfe3["CLASE"].isnull())]

Empty DataFrame
Columns: [CIUDAD_ORIGEN, CIUDAD_DESTINO, TIPO_TREN, TIPO_TARIFA, CLASE, PRECIO, TIEMPO_VIAJE, DIF_INI_BUS, FECHA_CONSULTA_HORA, FECHA_CONSULTA_NOMBREDIA, FECHA_CONSULTA_DIA, FECHA_CONSULTA_MES, FECHA_INICIO_HORA, FECHA_INICIO_NOMBREDIA, FECHA_INICIO_DIA, FECHA_INICIO_MES, FECHA_FIN_HORA, FECHA_FIN_NOMBREDIA, FECHA_FIN_DIA, FECHA_FIN_MES]
Index: []

In [ ]:
#PREGUNTA 8

In [ ]:
#PREGUNTA 9

In [ ]:
#PREGUNTA 10